
.main{
    height:70vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rows{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:2px
}

.row{
    padding:2px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    gap: 2px;
}

button{
    padding: 2px;
    margin: 10px;
    display: grid;
    place-items: center;
    color: green;
    background-color: aquamarine;
    border-radius: 5px;
    border: none;
    width: 60%;
    height: 60%;
}

button:hover{
    color: aquamarine;
    background-color: green;
}

input{
    width: 250px;
    height: 40px;
}

footer{
    position: fixed;
    top: 80%;
    right: 0;
    text-align: center;
    width: 100%;
}