
.card{
    background-image: url(../res/sparkle_tra.gif);
    background-color: black;
    color: aliceblue;
}

button:hover{
    background-color: fuchsia;
}

button {
    background-color: black;
}

.small_comp{
    background-image: url("../res/q.gif");
}
