.body{
    background-image: url(resource/rps.png);
    background-color: blanchedalmond;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.b:hover{
    color: black;
    font-weight: bolder;
    background-color: aquamarine;
}
.resimg{
    height: 30%;
    width: 30%;
}
.resimgl{
    height: 40%;
    width: 40%;
}
.userimg{
    height: 20%;
    width:20%;
}
.body:hover{
    background-color: cadetblue;
}
